
/********** STRUCT **********/

.width15 {width: 15%;}
.width17 {width: 17%;}
.width20 {width: 20%;}
.width60 {width: 60%;}
.width66 {width: 66%;}
.width70 {width: 70%;}

.card {
    width : 63mm;
    height: 87mm;

    float: left;

    border:0.5mm solid #6b6b6b;
    /*border-radius: 5px;*/

    /*display: flex;
    flex-direction: column;*/
}

.elem {
    float: left;
    text-align: center;
}
.elem.effect {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: aquamarine;*/
}
.foot {
    margin-top: auto;
    margin-bottom: 0.8rem;
}



/********** ICONS **********/

.icon {
    vertical-align: middle;
    color: black;
}
.icon.main {
    margin-top: 0.7rem;
}
.icon.found {
    margin-bottom: 0.7rem;
    margin-left: 1rem;
}
.icon.found:first-child {
    margin-left: 0%;
}
.icon.effect {
    margin-bottom: 0.7rem;
}



/********** SPACER **********/

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-width: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 2px;
}
.headspacer {
    width: 95%;
    margin-left: 2.5%;
    margin-bottom: 5mm;
}
.spacer {
    width: 75%;
    margin-left: 12.5%;
    margin-top: 5mm;
    margin-bottom: 5mm;
}
.footspacer {
    margin-top: 0rem;
    margin-bottom: 0.9rem;
}



/********** FONT **********/

body {
    font-size: 2rem; 
    /*line-height: 0rem;  */
    letter-spacing: 0; 
}

body, h1, h2, h3, h4, h5, h6 {
    color: black;
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-weight: 700; 
    text-align: center;

    /* fix firefox's text-blackener */
    /* https://stackoverflow.com/questions/55221501/firefox-print-page-white-font-colors-overidden-to-darker-colors */
    color: transparent;
    text-shadow: 0 0 0px black;
    border-radius: 50%;
}
p {
    font-size: 1.8rem;
    text-align: center;  }
h1 { 
    font-size: 2.3rem; 
    line-height: 2.5rem;  
    letter-spacing: 0; 
}
h6 { 
    font-size: 1rem; 
    line-height: 1rem;  
    letter-spacing: 0; 
    text-shadow: 0 0 0px black;
}
h6.info {
    text-shadow: 0 0 0px black;
    font-size: 1.2rem; 
    line-height: 1.3rem;  
}
h1:first-child {
    margin-top: 0.7rem;
}



h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }



