
body {
    background-color: #726b70;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.icon {
    margin-left: 5mm;
  }
  
  .icon:first-child {
    margin-left: 0%;
  }

.icon.foe,
.icon.loot {
    margin-left: 0 !important; 
}

.card {
  border:0.5mm solid #6b6b6b;
  /*border-radius: 5px;*/
}